*
!.gitignore
!game
!game/
!content
!content/
!*/dota_addons
!*/dota_addons/
!*/dota_addons/addon_template_butt
!*/dota_addons/addon_template_butt/
!*/dota_addons/addon_template_butt/*
*/dota_addons/addon_template_butt/*.bin